@import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@300&family=Montserrat:wght@100;200;300&display=swap');

* {
	font-family: 'Fira Code', monospace; 
  font-family: 'Montserrat', sans-serif;
	margin: 0;  
	padding: 0;
  text-align: center;
} 

body {
  font-family: 'Fira Code', monospace; 
  font-family: 'Montserrat', sans-serif;
}

 h1,h2,h3,h4,h5,h6 {
  font-family: 'Fira Code', monospace; 
  font-family: 'Montserrat', sans-serif;
    
}

h1 {
  padding-top: 10%;
}

.page-header {
    text-align: center;
    font-size: 140px;
    padding-bottom: 10%;
}

img {
    width: 30%;
    float: left;
    margin:1.66%;  
     }
  
  p {
    font-family: 'Fira Code', monospace; 
    font-family: 'Montserrat', sans-serif;
    margin-left: 1.66%;
    font-size:23px;
    font-weight: 800;
    text-transform:uppercase;
    border-bottom: 2px solid #f1f1f1;
    width: 30%;
    padding-bottom: 20px;
  }
  
  .photo-container  {
    padding-bottom: 40px;
  }

  .button {
    width: 40%;
    padding: 10px;
    padding-top: 20px;
    border-radius: 9px;
    background: #d1d1d1;
    border-radius: 20px;
    background: linear-gradient(145deg, #ff2828, #d72121);
    box-shadow:  29px 29px 0px #600f0f,
                -29px -29px 0px #ff3b3b;
  }
  
  .button:hover {
    background-color: #746C70;
    color: rgb(248, 238, 238);
  }


  /*  navigation bar */
.topnav {

    
  position: relative;
  margin-top: auto;
  background-color: black;
  border-radius: 0px;
  background: white;
  box-shadow:  26px 26px 53px #211f21,
              -26px -26px 53px white;
  transition: top 0.5s;
 
}

/* Style the links inside the navigation bar */
.topnav a {
  float: left;
  display: block;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 150%;
  color: black;
  
}

/* Change the color of links on hover */
.topnav a:hover {
  border-radius: 19px;
  background: linear-gradient(145deg, #eb5151, #c64444);
  box-shadow:  29px 29px 37px #581e1e,
              -29px -29px 37px #ff7a7a;
  color: white;
  
}

/* Style the "active" element to highlight the current page */
.topnav a.active {
  
  color: white;
  border-radius: 19px;
  background: linear-gradient(145deg, #eb5151, #c64444);
  box-shadow:  29px 29px 37px #581e1e,
              -29px -29px 37px #ff7a7a;
  
}

/* Style the search box inside the navigation bar */
.topnav input[type=text] {
  float: right;
  padding: 6px;
  border: none;
  margin-top: 8px;
  margin-right: 16px;
  font-size: 17px;
 

}

.placeholder {

  margin: 0 auto;
  width: 50vh;
  border-spacing: 30px;
  border: 0px;
  padding: 15px 25px;
  border-radius: 27px;
  background: linear-gradient(145deg, #ff2828, #d72121);
  box-shadow:  29px 29px 0px #600f0f,
              -29px -29px 0px #ff3b3b;
}

.placeholder:hover {
  background-color: white;
  color: rgb(248, 238, 238);
}

/* When the screen is less than 600px wide, stack the links and the search field vertically instead of horizontally */
@media screen and (max-width: 600px) {
  .topnav a, .topnav input[type=text] {
    float: none;
    display: block;
    text-align: left;
    width: 100%;
    margin: 0;
    padding: 14px;
    color: white;
  }
  .topnav input[type=text] {
    border: 1px solid #ccc;
  }
}